<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1><%= t('.title') %></h1>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Title</th>
            <th>Status</th>
            <th>User name</th>
            <th>Agent name</th>
            <th>Created at</th>
            <th>Updated at</th>
          </tr>
          </thead>
          <tbody>
          <% collection.each do |ticket| %>
              <tr>
                <td><%= link_to ticket.title, agent_ticket_path(ticket) %></td>
                <td><%= ticket.status %></td>
                <td><%= ticket.user ? ticket.user.name : '-' %></td>
                <td><%= ticket.agent ? ticket.agent.name : '-' %></td>
                <td><%= l ticket.created_at, format: :short %></td>
                <td><%= l ticket.updated_at, format: :short %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
